<a href="https://colab.research.google.com/github/sanju492/first_project/blob/main/4_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for num in range(100,140,2):
  print(num)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138

In [ ]:
word = "remote internship"

for char in word:
  print(char)

r
e
m
o
t
e

i
n
t
e
r
n
s
h
i
p

In [ ]:
my_list = ['anc', 'xyz', 'dfg', 'rft', 'fgh', 'jkl']
for item in my_list:
  print(item)

anc
xyz
dfg
rft
fgh
jkl

In [ ]:
for i in range(len(my_list)):
  print(i)

0
1
2
3
4
5

In [ ]:
for i in range(len(my_list)):
  print(my_list[i])

anc
xyz
dfg
rft
fgh
jkl

In [ ]:
my_list1 = ["anc", 'dfg', 'fgh', 'jkl', 'rft']
for item in my_list1:
  if(item == "anc"):
   print("we found item", item)
  else:
    print(item)

we found item anc
dfg
fgh
jkl
rft

#Dict functions

In [ ]:
my_dict ={"name" : "sanju",
          "age" : 10,
          "place" : "tvm"}
print(my_dict)

{'name': 'sanju', 'age': 10, 'place': 'tvm'}

In [ ]:
my_dict1 ={"name" : "sanju",
          "age" : 10,
           "place": "tvm"}
for k,v in my_dict1.items():
  print(f"my{k} is {v}")

myname is sanju
myage is 10
myplace is tvm

In [ ]:
my_grocery_list = {"apple":180, "grapes":130,"banana":250, "orange":80, "surf":+40, "oil":89, "wheet":65}
budget = 350
cart = {}
To_pay = 0
for k,v in my_grocery_list.items():
  if v <= budget - To_pay:
    cart[k] = v
    To_pay += v
print("Items in cart:", cart)
print("Total amount to pay:", To_pay)

Items in cart: {'apple': 180, 'grapes': 130, 'surf': 40}
Total amount to pay: 350

In [ ]:
my_grocery_list = {"apple":180, "grapes":130,"banana":250, "orange":80, "surf":+40, "oil":89, "wheet":65}
budget = 500
cart = {}
to_pay = 0
for k,v in my_grocery_list.items():
  if v <= budget - to_pay:
    cart[k] = v
    to_pay += v
print("itemsin cart:", cart)
print("total amount to pay",to_pay)

itemsin cart: {'apple': 180, 'grapes': 130, 'orange': 80, 'surf': 40, 'wheet': 65}
total amount to pay 495

In [ ]:
#find num divisiable by 3 and 5 (1 to 100)

for i in range(1,100):
  if i%3==0 and i%5==0:
    print(i)

15
30
45
60
75
90

In [ ]:
a = 1
while a <10 :
  print(a)
  a = a+2

1
3
5
7
9

In [ ]:
a = 1
while a <10 :
  print(a)
  a = a+2
else:
  print("you crossed the limit")

1
3
5
7
9
you crossed the limit

In [ ]:
balance =  400
while balance > 0:
  #print("u have balance")
  print("you have balance",balance)
  balance = balance - 50
else:
    print("you have no balance")

you have balance 400
you have balance 350
you have balance 300
you have balance 250
you have balance 200
you have balance 150
you have balance 100
you have balance 50
you have no balance

In [ ]:
secrt_num = 9
guess = int(input("guess a number"))
while guess !=  secrt_num:
  print("try again")
  guess = int(input("guess a number"))
else:
  print("you find the number !!")

guess a number5
try again
guess a number6
try again
guess a number7
try again
guess a number9
you find the number !!

##random
#to create random 'int'
#important random
#secr = random , randint(1,10)

In [ ]:

import random
secrt_num = random.randint(1,10)
guess = int(input("guess a number"))
while guess !=  secrt_num:
  print("try again")
  guess = int(input("guess a number"))
else:
  print("you find the number !!")

guess a number9
you find the number !!

In [ ]:
#code to enter password
password = "sanju"
attempt = 0
while attempt < 3:
  guess = input("enter your password: ")
  if guess == password:
    print("successful")
    break
  else:
    print("wrong password, try again")
    attempt += 1
else:
    print("you have exceeded the attempts, try after some time")

enter your password: dhhbdj
wrong password, try again
enter your password: jbdvvbd
wrong password, try again
enter your password: sanju
successful

In [ ]:
movies = {
    "Inception": 8,
    "Avatar": 5,
    "Joker": 9,
    "Toy Story": 4
}
print("All Movies:")
for m in movies:
    print(m, ":", movies[m])
for m in movies:
    if movies[m] == 8:
        movies[m] = 5
    elif movies[m] == 5:
        movies[m] = 9
movies["Interstellar"] = 10
movies["Frozen"] = 6
high_rate = max(movies.values())
print("\nHighest rated movie(s):")
for m in movies:
    if movies[m] == high_rate:
        print(m, ":", movies[m])
movies = {m: r for m, r in movies.items() if r >= 5}
print("\nFinal Movie List:")
for m in movies:
    print(m, ":", movies[m])

All Movies:
Inception : 8
Avatar : 5
Joker : 9
Toy Story : 4

Highest rated movie(s):
Interstellar : 10

Final Movie List:
Inception : 5
Avatar : 9
Joker : 9
Interstellar : 10
Frozen : 6

In [ ]:
def function_name():
  function_body

In [ ]:
def greet():
  print("hello welcome to kerala")

greet()
greet()

hello welcome to kerala
hello welcome to kerala

In [ ]:
def greet():
   pass

   greet()

In [ ]:
def greet(name):
  print(f"Hello {name}, welcome to the programe")

greet('sanju')
greet('rizwan5')

Hello sanju, welcome to the programe
Hello rizwan5, welcome to the programe

In [ ]:
def greet(name,time):
  print(f"hello{name}, welcome to the program")
  print(f"your session start at {time}\n")

greet("sanju","9am")
greet("azeem","8am")
greet("rizwan","2pm")

hellosanju, welcome to the program
your session start at 9am

helloazeem, welcome to the program
your session start at 8am

hellorizwan, welcome to the program
your session start at 2pm

In [ ]:


def product(num1,num2):
 res = num1*num2
 print("product is ",res)


num1=(int(input("enter num1:")))
num2=(int(input("enter num2:")))
product(num1,num2)

enter num1:2
enter num2:3
product is  6

In [ ]:
def product(num1,num2):
 res = num1-num2
 print("product is ",res)


num1=(int(input("enter num1:")))
num2=(int(input("enter num2:")))
product(num1,num2)

enter num1:5
enter num2:2
product is  3

In [ ]:
def multiply(a,b):
  product = a*b
  print(product)

a=(int(input("enter num1:")))
b=(int(input("enter num2:")))
multiply(a,b)

enter num1:4
enter num2:7
28

In [ ]:
def total_bill(amount):
 tip = amount * (20/100)
 total = amount+tip
 print("you need to pay ",total)

bill = int(input("enter your bill :"))
total_bill(bill)

enter your bill :500
you need to pay  600.0

In [ ]:
num_list = [12,4,5,7,8,13,10,21]
def average_even(numberlist):
  even_list=[]
  for num in numberlist:
   if num % 2 == 0:
    even_list.append(num)
    averageeven = sum(even_list)/len(even_list)
  print(even_list)
  print(averageeven)

average_even(num_list)

[12, 4, 8, 10]
8.5

In [ ]:
def sum_numbers(*args):
  print(type(args))
  total=0
  for i in args:
    total+= i
  print(total)


sum_numbers(7,8,9,4,3)

<class 'tuple'>
31

In [ ]:
def print_info(**args):
 for item,val in args.item():
  print(f"{item} is {val}")

 print_info(name="Alan",place="tvm",score=6)
 print_info(name="Alan",place="tvm",Batch="DSA")